body {
    background: hsl(214, 98%, 67%);
}

.main__section {
    height: 100vh;
}

.ms__col {
    height: 400px;
}

.ms__border {
    border-right: 3px solid white;
}

.ms__title {
    font-weight: 900;
    color: gold;
    filter: drop-shadow(3px 3px black);
}

#email-button {
    color: white;
    background: blueviolet;
}

/* VIEWPORT */

@media all and (max-width: 768px) {
    .ms__border {
        border-right: 0;
        border-bottom: 3px solid white;
    }
}